extends base.pug

block scripts 
  script(src="../static/script.js")

block styles 
  link(rel="stylesheet", href="../static/style.css")
  link(rel="stylesheet", href="../static/contact.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")

block content
  nav#navbar
    ul
      div#logo
        img(src="/static/img/logo.png", alt="Logo")
        span Dance Academy
      li 
        a(href="/") Home
      li 
        a(href="/about") About
      li 
        a(href="/contact") Contact
      li 
        a(href="/login") Login
  
  section#contact-wrapper
    .contact-box
      h2 Get in Touch
      
      form(action="/contact", method="POST")
        .form-group
          label(for="name") Your Name
          input(type="text", id="name", name="name", placeholder="Enter your name", required)

        .form-group
          label(for="email") Email Address
          input(type="email", id="email", name="email", placeholder="Enter your email", required)

        .form-group
          label(for="message") Your Message
          textarea(id="message", name="message", placeholder="Write your message...", required)

        button.btn(type="submit") Send Message

    .info-box
      h3 Contact Information
      p 
        i.fas.fa-envelope
        |  raunakkh8789@gmail.com
      p Social Links
      .social-icons
        a(href="https://www.facebook.com/raunak.acon", target="_blank")
          i.fab.fa-facebook
        a(href="https://www.instagram.com", target="_blank")
          i.fab.fa-instagram
        a(href="https://www.twitter.com", target="_blank")
          i.fab.fa-twitter
