extends base.pug

block scripts
    script(src="../static/script.js")
block styles
    link(rel="stylesheet", href="../static/style.css")


block content
    nav#navbar
      ul
        div#logo
          img(src="/static/img/logo.png", alt="Logo")
          span Dance Academy
        li 
          a(href="/") Home
        li 
          a(href="/about") About
        li 
          a(href="/contact") Contact
        li 
          a(href="/login") Login

    section#hero
      .overlay
      .hero-content
        h1 Transform Your Dance Journey
        p Learn, Perform & Elevate Your Passion
        a.hero-btn(href="/join") Join Now

    section#mission
      h2.section-title Our Dance Styles
      .cards-container
        .card
          a(href="https://en.wikipedia.org/wiki/Hip-hop", target="_blank", rel="noopener noreferrer")
           img(src="/static/img/pic1.webp")
          h3 Hip-Hop
          p Energetic beats, freestyle groove & high-power moves.
        .card
          a(href="https://en.wikipedia.org/wiki/Indian_classical_dance", target="_blank", rel="noopener noreferrer")
           img(src="/static/img/pic3.png")
          h3 Classical
          p Timeless elegance blended with technical mastery.
        .card
          a(href="https://en.wikipedia.org/wiki/BigBang_(South_Korean_band)", target="_blank", rel="noopener noreferrer")
           img(src="/static/img/images (1).png")
          h3 Big-Bang
          p A modern fusion style packed with creativity.

    section#sponsors
      h2.section-title Our Sponsors
      .sponsor-logos
       a(href="https://www.apple.com/in/store?afid=p240%7Cgo~cmp-11141176048~adg-174693310941~ad-780495560764_kwd-10778630~dev-c~ext-~prd-~mca-~nt-search&cid=aos-in-kwgo-brand--", target="_blank", rel="noopener noreferrer")
         img(src="../static/img/apple-7408883_1280.png", alt="Apple")
       a(href="https://www.reddit.com/", target="_blank", rel="noopener noreferrer")
         img(src="../static/img/reddit-6615447_1280.webp", alt="Reddit")
       a(href="https://www.microsoft.com/en-in/windows", target="_blank", rel="noopener noreferrer")
         img(src="../static/img/windows-310290_1280.webp", alt="Windows")
       a(href="https://teams.live.com/free", target="_blank", rel="noopener noreferrer")
         img(src="../static/img/skype.webp", alt="Skype")

    footer
      p © 2025 Dance Academy. All rights reserved.
