extends base.pug

block scripts
    script(src="../static/script.js")
block styles
    link(rel="stylesheet", href="../static/style.css")


block content
    nav#navbar
      ul
        div#logo
          img(src="/static/img/logo.png", alt="Logo")
          span Dance Academy
        li 
          a(href="/") Home
        li 
          a(href="/about") About
        li 
          a(href="/contact") Contact
        li 
          a(href="/login") Login

    section#hero
      .overlay
      .hero-content
        h1 Transform Your Dance Journey
        p Learn, Perform & Elevate Your Passion
        a.hero-btn(href="/join") Join Now

    section#mission
      h2.section-title Our Dance Styles
      .cards-container
        .card
          img(src="/static/img/pic1.webp")
          h3 Hip-Hop
          p Energetic beats, freestyle groove & high-power moves.
        .card
          img(src="/static/img/pic3.png")
          h3 Classical
          p Timeless elegance blended with technical mastery.
        .card
          img(src="/static/img/images (1).png")
          h3 Big-Bang
          p A modern fusion style packed with creativity.

    section#sponsors
      h2.section-title Our Sponsors
      .sponsor-logos
        img(src="../static/img/apple-7408883_1280.png", alt="Apple")
        img(src="../static/img/reddit-6615447_1280.webp", alt="Reddit")
        img(src="../static/img/windows-310290_1280.webp", alt="Windows")
        img(src="../static/img/skype.webp", alt="Skype")

    footer
      p © 2025 Dance Academy. All rights reserved.
