doctype html
html(lang="en")
  head
    title #{title}
    link(rel="stylesheet", href="/static/style.css")

  body
    nav#navbar
      ul
        div#logo
          img(src="../static/img/logo.png", alt="Logo")
          span Dance Academy
        li #[a(herf="/") Home]
        li #[a(herf="/") About]
        li #[a(herf="/") Contact]
        li #[a(herf="/") Login]

    section#introsection
      div JOIN NOW THE NEW DANCE ACCADEMY
      div Dance is a way to express yourself

    section#mission
      h2 Our Mission

      .card 
        p Our mission is to provide a platform for dancers
        .card-box
          .card-img
            img(src="../static/img/pic1.webp", alt="error")

      .card 
        p Our mission is to provide a platform for dancers
        .card-box
          .card-img
            img(src="../static/img/pic2.jpg", alt="error")

      .card 
        p Our mission is to provide a platform for dancers
        .card-box
          .card-img
            img(src="../static/img/pic3.jpg", alt="error")

    section#sponsor
      | Section for sponsor

    footer#footer
      | Our footer is here

    script(src="/static/script.js")
