doctype html
html(lang="en")
  head
    title
    link(rel="stylesheet", href="/static/style.css")

  body
    nav#navbar
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/contact") Contact
        li
          a(href="/login") Login

    section#introsection
      div JOIN NOW THE NEW DANCE ACCADEMY
      div Dance is a way to express yourself

    section#mission
      h2 Our Mission

    section#sponsor Section for sponsor

    footer#footer Our footer is here

    script(src="/static/script.js")
