doctype html
html(lang="en")
  head
    title #{title}
    link(rel="stylesheet", href="/static/style.css")

  body
    nav#navbar
      ul
        li #[a(herf="/") Home]
        li #[a(herf="/") About]
        li #[a(herf="/") Contact]
        li #[a(herf="/") Login]
   
    section#introsection
      div JOIN NOW THE NEW DANCE ACCADEMY
      div Dance is a way to express yourself

    section#mission
     h2
        | Our Mission

    section#sponsor
      | Section for sponsor

    footer#footer
      | Our footer is here

    script(src="/static/script.js")
