@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Playwrite+DK+Loopet:wght@100..400&family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-color: #f4f4f4;
    
}
#container{
    display: flex;
    border: 2px solid #737070;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
   height: 87vh;
    width: 100%;
    font-family: "Jolly Lodger", system-ui;
}
#container::before{
    content: "";
    position: absolute;
    background: linear-gradient(to bottom , rgb(255, 255, 255), #000000);
    width: 100%;
    height: 100%;   
    opacity: 0.8;
    z-index: -1;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #737070;
}
.form-group{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.form-group input,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #737070;
    border-radius: 5px;
    font-size: 16px;
}
.btn {
    font-family: "Jolly Lodger", system-ui;
            padding: 10px 20px;
            font-size: 1.3rem;
            background-color: rgb(72 67 67);
            color: white;
            border-radius: 10px;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transition: 0.3s;
        }

        .btn:hover {
            cursor: pointer;
            transition: 0.3s;
            font-size: 1.6rem;
        }
.contact-info{
    margin-top: 20px;
    font-weight: 100;
    text-align: center;
    font-size: 24px;
    width: 100%;
    color: #ffffff;
}
.contact-info a{
    text-decoration: none;
    color: #ffffff;
}