@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Playwrite+DK+Loopet:wght@100..400&family=Tagesschrift&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#logo span{
    margin: 0 20px;
    font-family: "Jolly Lodger", system-ui;
    font-weight: lighter;
    font-size: 24px;
    color: white;
    text-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
}
#navbar ul {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    background-color: #737070;
   
}

#navbar ul li {
    list-style: none;
    transition: all 0.8s ease-in-out;
}

#navbar ul li a {
    font-size: 18px;
    text-decoration: none;
    padding: 2px 40px;
    font-weight: bold;
    border-radius: 10px;
     color: white;
}

#navbar ul li a:hover {
    background-color: #fdfdfd;
    color: black;
   font-size: 120%;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

#introsection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    color: black;
    /* or any dark color */
    z-index: 1;
    font-size: 5rem;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
}

#introsection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../static/img/dance.jpg') no-repeat center center / cover;
    opacity: 0.6;
    z-index: -1;
}

#mission {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 12px;
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    height: 350px;
    z-index: 1;
    position: relative;
    color: rgb(0, 0, 0);
}
#mission h2{
    font-size: 2.5rem;
    font-weight: 100;
}

#mission::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 100%;
    background: linear-gradient(to top , rgb(255, 255, 255), #000000);
    opacity: 0.5;
    z-index: -1;
}

.card {
    display: inline-block;
    border: 2px solid black;
    width: 25%;
    height: 200px;
    margin: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card p{
    color: black;
    padding: 20px;
    font-family: "Jolly Lodger", system-ui;
}
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
      height: 120px;
      padding: 0 14px;
      /* filter: invert(1); */
}
.card-img img{
    height: inherit;
}
.card:hover{
    transform: scale(1.2);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

#sponsor {
    position: relative;
    height: 200px;
}
#sponsor::before{
    content: "";
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top , rgb(0, 0, 0), #ffffff);
    z-index: -1;
    opacity: 0.8;
}
.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.sponsors img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
.sponsors img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#sponsor h2{
    text-align: center;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-size: 2rem;
    color: black;
    margin-top: 5px;
}
footer {
    background-color: #737070;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px
}
.fa-brands, .fab {
    margin: 10px;
    font-weight: 400;
}